@if (!getlistItems().length) {

<div class="container">
    <img src="assets/img/task-list-null.png" alt="sua lista esta fazia " loading="eager">

    @if(addItem()) {
    <button class="btn btn-primary " (click)="addItem.set(false)">Criar Lista de Tarefas</button>
    } @else{
        <app-input-add-item [inputListItems]="getlistItems()" 
        (outpuAddListaItem)="getInputandAddItem($event)" />
    }

<!-- <p>{{getlistItems() | json}}</p> -->

</div> 

} @else {
    <app-input-add-item [inputListItems]="getlistItems()" 
    (outpuAddListaItem)="getInputandAddItem($event)" />


    <main class="container">
        
        @if (listItemsStage('pending').length) {
            <h2>Pendências</h2>
            <app-input-list-item  [inputListItems]="listItemsStage('pending')" 
            (outputupdateitemcheckbox)="updateitemcheckbox($event)"
            (outputupdateitemTexto)="updatetext($event)"
            (outputdeletItem)="deletItemtext($event)"
            />
        }
        @if (listItemsStage('completed').length) {
            <h2>Concluidos</h2>
            <app-input-list-item 
            (outputupdateitemcheckbox)="updateitemcheckbox($event)"
            [inputListItems]="listItemsStage('completed')" 
            (outputupdateitemTexto)="updatetext($event)"
            (outputdeletItem)="deletItemtext($event)"
            />
        }
        
    </main>

    <footer>
        <button class="btn btn-danger" (click)="deletaralltems()">
            Deletar Todos os Items
        </button>
    </footer>
}